Package: deepin-doctor-daemon-dbgsym
Source: deepin-doctor
Version: 0.1.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: YinJie <yinjie@example.com>
Installed-Size: 1568
Depends: deepin-doctor-daemon (= 0.1.0)
Section: debug
Priority: optional
Description: debug symbols for deepin-doctor-daemon
Build-Ids: c21687c466c7ababb54fc892273062e38910239a
